<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Artikler</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="article-wrapper">

        </div>
    </div>
    <div class="row" ng-repeat="article in articles">
        <div class="article-wrapper">
            <h2 class="article-header">
                <div korde-editable ng-model="article.title" korde-model="article"></div>
            </h2>
            <div korde-editable ng-model="article.body" korde-model="article"></div>
            <h4>Rediger tagger: </h4>
            <div class="tag turqoise" ng-repeat="tag in article.tag_string.split(',')" ng-show="articleHasTags(article)">{{ tag }}
                <i class="delete-icon" ng-click="deleteTag(tag, article)">&times</i>
            </div>
            <div class="tag input-tag turqoise">
                <input type="text" ng-model="newTagInput[article.id]" placeholder="#tag..." on-press-enter="addTag(article)"/>
            </div>
            <i class="add-icon fa fa-plus" ng-click="addTag(article)"></i>
            <div style="clear:both"></div>
        </div>
    </div>
</div>