<div class="has-sidebar">
    <div class="p-20-50">
        <div class="korde-content-box bg-light w-300 center-shadow m-0-20">
            <div class="content-box-header bg-assertive color-light t-center t-upper">Dette er en box</div>
            <div class="p-10-20 t-very-thin t-center">
                <div class="font-size-59 color-assertive">60%</div>
                <div class="font-size-20 t-upper">Av alle venner</div>
            </div>
        </div>
        <div class="korde-content-box bg-light w-300 center-shadow m-0-20">
            <div class="content-box-header bg-royal color-light t-center t-upper">Denne boksen har bilde</div>
            <div class="p-10-10">
                <div class="content-box-image h-200" style="background-image: url('/static/img/mowing.jpg');"></div>
                <div class=""></div>
            </div>
            <div class="content-box-footer t-center">Dette er en footer</div>
        </div>
        <div class="korde-content-box bg-light w-300 center-shadow m-0-20">
            <div class="content-box-header bg-energized color-light t-center t-upper">Dette funker</div>
            <div class="p-10-10">
                <div class="content-box-image h-200" style="background-image: url('/static/img/mowing.jpg');"></div>
                <div class=""></div>
            </div>
        </div>
    </div>
</div>