<div class="has-navbar has-sidebar">
    <div class="p-20-20">
        <h1 class="page-header">{{ pageHeader() }}</h1>
        <div class="w-800 block-center">
            <div class="edit-article-cover h-300" style="background-image: url({{ article.thumbnail_image_src }});">
                <div class="cover-editor p-0-10 font-size-16" data-toggle="modal" data-target="#fileModal">
                    Endre bilde <span class="fa fa-pencil"></span>
                </div>
            </div>
            <div class="row m-10-0">
                <div class="t-center">
                    <input type="text" class="font-size-40 hidden-input t-center" ng-model="article.title">
                </div>
            </div>
            <div class="row p-0-20 t-center">
                <div class="font-size-12">
                    Publisert: {{ article.created_at | date:'dd/MM-yyyy' }}
                </div>
                <div class="font-size-12">
                    Skrevet av: {{ article.author_name }}
                </div>
            </div>
            <div class="row">
                <div class="inline col-xs-12">
                    <div hallo-editor class="p-10-20" ng-model="article.body_text"></div>
                </div>
            </div>
            <div class="row">
                <div class="inline" ng-class="{'col-md-6': !element.width_type, 'col-md-12': element.width_type}" ng-repeat="element in article.elements">
                    <div ng-if="element.type" hallo-editor class="p-10-20 hidden-input" ng-model="element.text"></div>
                    <img ng-if="!element.type" class="width-fill" src="{{ element.image_src }}" alt="">
                </div>
            </div>
            <div class="divider m-20-0"></div>
        </div>
        <div class="article-element-picker t-center m-30-0">
            <h3 class="m-20-0 t-very-thin t-upper">Legg til nytt element</h3>
            <label>
                Tekst
                <input ng-init="1" type="radio" name="newElementType" ng-model="newElement.type" ng-value="1" checked="true">
            </label>
            <label>
                Bilde
                <input type="radio" name="newElementType" ng-model="newElement.type" ng-value="0">
            </label>
            <label>
                Hel
                <input type="radio" name="newElementWidthType" ng-model="newElement.width_type" ng-value="1" checked>
            </label>
            <label>
                Halv
                <input type="radio" name="newElementWidthType" ng-model="newElement.width_type" ng-value="0">
            </label>

            <button>Tekst</button>
            <button class="button-active">Bilde</button>
            <button>Hel</button>
            <button class="button-active">Halv</button>
            <button ng-click="addArticleElement()"><span class="fa fa-plus"></span> Legg til</button>
        </div>
        <div class="t-center">
            <button class="button-no-bg-confirm m-10-20 w-250" ng-click="saveArticle()">Lagre</button>
            <button class="button-no-bg-decline m-10-20 w-250" ng-click="updateElement(file)">Tilbake</button>
        </div>
    </div>
</div>

<div class="has-navbar">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ pageHeader() }}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <h4 class="article-inline-header">{{ article.created_at | date:'dd/MM-yyyy' }}</h4>
                <h4 class="article-inline-header">{{ article.author_name }}</h4>
            </div>
        </div>
        <form ng-submit="saveArticle()">
            <div class="row">
                <div class="col-md-12">
                    <h1 ng-model="article.title"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="article-wrapper article-wrapper-element">
                        <div hallo-editor ng-model="article.body_text"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3 ng-show="!article.thumbnail_image_src" style="text-align:center;">Last opp forsidebilde til artikkelen:</h3>
                <div class="image-drop-area" ngf-drop="upload($file)" ngf-drag-over-class="'dragover'"
                     ng-show="!thumbnailUploaded()">
                    <div class="upload-button" ngf-select ng-model="element.image_file" name="newImage"
                         ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                         ngf-resize="{width: 100, height: 100}">
                        <p>Last opp bilde</p>
                    </div>
                    <h4 class="upload-text"><em>eller dra inn og slipp et bilde her...</em></h4>
                </div>
                <div class="thumbnail-container" ng-show="thumbnailUploaded()">
                    <h3>Thumbnail image:</h3>
                    <img ng-src="{{ article.thumbnail_image_src }}" class="article-thumbnail-image"/>
                </div>
            </div>
            <div class="row">
                <h3>Elementer i artikkelen:</h3>
                <p ng-if="article.elements.length == 0">Artikkelen har ingen elementer...</p>
                <div ng-repeat="element in article.elements">
                    <div class="{{ getColumnClass(element) }}">
                        <div class="article-wrapper article-wrapper-element">
                            <div ng-if="element.type == 1">
                                <div hallo-editor ng-model="element.text"></div>
                            </div>
                            <div ng-if="element.type == 0">
                                <img src="{{ element.image_src }}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="article-icon-container">
                    <h3>Opprett et nytt element</h3>
                    <table class="new-paragraph-table">
                        <th>
                            Velg bredde:
                        </th>
                        <tr>
                            <td><input type="radio" name="newElementWidth" ng-model="article.newElementWidth" value="1">
                                Hel
                            </td>
                            <td><input type="radio" name="newElementWidth" ng-model="article.newElementWidth" value="0">
                                Halv
                            </td>
                        </tr>
                        <th>
                            Velg type:
                        </th>
                        <tr>
                            <td><input type="radio" name="newElementType" ng-model="article.newElementType" value="1">
                                Tekst
                            </td>
                            <td><input type="radio" name="newElementType" ng-model="article.newElementType" value="0">
                                Bilde
                            </td>
                        </tr>
                    </table>
                    <div>
                        <form ng-submit="">
                            <div class="upload-button new-paragraph turqoise" ngf-select ng-model="element.image_file"
                                 name="newImage"
                                 ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                                 ngf-resize="{width: 100, height: 100}" ng-if="article.newElementType == 0">
                                <p>Last opp bilde</p>
                            </div>
                        </form>
                    </div>
                    <div class="article-icon-container-inner" ng-click="addArticleElement()">
                        <i class="article-icon fa fa-plus-circle fa-4x"></i>
                        <h4 class="article-icon-text">Legg til element</h4>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Legg til eller endre artikkelens <em>tags:</em></h4>
                <div ng-if="article.tag_string">
                    <div class="tag turqoise" ng-repeat="tag in article.tag_string.split(',')">
                        {{ tag }}
                        <i class="delete-icon" ng-click="deleteTag(tag, article)">&times</i>
                    </div>
                </div>
                <div class="tag input-tag turqoise">
                    <input type="text" ng-model="newTagInput[article.id]" placeholder="#tag..."/>
                </div>
                <i class="add-icon fa fa-plus fa-2x" ng-click="addTag(article)"></i>
            </div>
            <div class="row">
                <input type="checkbox" name="publish" class="feedback-checkbox" ng-model="article.is_published"/>
                <label for="publish">Publisér annonsen (kan gjøres senere)</label>
                <input class="article-submit" type="submit" value="Lagre"/>
            </div>
        </form>
    </div>
</div>

<div id = "fileModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title t-center">Bildeopplasting</h4>
      </div>
      <div class="modal-body">
        <div class="image-drop-area" ngf-drop="upload($file)" ngf-drag-over-class="'dragover'" ng-show="!thumbnailUploaded()">
            <div class="upload-button" ngf-select ng-model="element.image_file" name="newImage"
                 ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB" ngf-min-height="100"
                 ngf-resize="{width: 100, height: 100}">
                <p>Last opp bilde</p>
            </div>
            <h4 class="upload-text"><em>eller dra inn og slipp et bilde her...</em></h4>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->