<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ page.name }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-repeat="elementRow in pageElements">
        <div class="col-lg-12">
            <div class="page-panel" ng-repeat="element in elementRow">
                <h3 class="page-name">{{ element.description }}</h3>
                <div class="divider"></div>
                <div class="page-thumbnail" ng-if="element.type === 1">
                    {{ element.body }}
                </div>
                <div ngf-drop="upload($file, element.id, element.row)" ngf-drag-over-class="'dragover'" ng-if="element.type === 0">
                    <img src="{{ element.image_src }}" />
                </div>
            </div>
        </div>
    </div>
</div>