<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ page.name }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row" ng-repeat="elementRow in pageElements">
        <div class="col-lg-12 thumbnails-box">
            <a ng-href="#/pageelement/{{ element.id }}" class="page-thumbnail green" ng-repeat="element in elementRow">
                <img src="{{ element.image_src }}" ng-if="element.type === 0"/>
                <span class="title">
                {{ element.description }}
                </span>
            </a>
        </div>
    </div>
</div>