<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pages</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div ng-repeat="page in pages">
                <a class="edit-page-link" href="#/pages/{{ page.slug }}">
                    <div class="page-panel">
                        <h3 class="page-name">{{ page.name }}</h3>
                        <div class="divider"></div>
                        <div class="page-thumbnail">
                            <p>Huh uwfg pibg wbibg wb bwåobg <br> widjg wigjn onw g</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>