<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pages</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12 pages-box">
            <a ng-href="#/pages/{{ page.slug }}" class="page-thumbnail blue" ng-repeat="page in pages">
                <img src="{{ page.thumbnail_url }}" ng-if="page.thumbnail_url">
                <span class="title">
                {{ page.name }}
                </span>
            </a>
        </div>
    </div>
</div>